<!-- <h1 
[class.hidden]="count == 2"
[style.color]="count <= 5 ? 'red' : 'green'">
  The current count is {{ count }}
</h1>

<button (click)="increaseCount()">Click!</button> -->

<!-- <h3 *ngIf="count == 10; else defaultText">Huraaaay, count is 10!!</h3>
<ng-template #defaultText>click on button until the Count is 10</ng-template>
<p *ngIf="count != 10">click on button until the Count is 10</p> -->

<!-- @if(count == 10){
<h3>Huraaaay, count is 10!!</h3>
}@else {
<p [ngStyle]="{
  'color' : count <= 5 ? 'red' : 'green',
  'background-color' : count <= 5 ? 'yellow' : 'gray'
}">click on button until the Count is 10</p>
} -->

<app-task-list></app-task-list>